body {
    text-align: center;
    background: url("rp.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color:black;
    height: 100vh;
}

*{
    font-family: Montserrat, sans-serif;
}


p {
    font-size: 20px;
}

input {
    border:0px;
    padding: 10px;
    font-size: 18px;
}


.col-md-6{
    background: rgba(255,255,255,.5)
}
h1{
    background: rgba(0,0,0,.2);
    color: white;
}
.container{
    margin-top: 10vh;
}
.img-circle{
    height: 30vh;
    width: 30vh;
}